<h1 class="text-4xl text-center">Some Cool Set of Grainy Cards</h1>

<div class="flex flex-col justify-center items-center gap-12 w-full h-fit">
  <div class="flex items-center justify-center gap-12">
    <div class="flex flex-col items-center justify-center h-80 w-80 relative rounded-2xl card">
      <div class="border"></div>
      <div class="filter"></div>
      <h2 class="text-3xl">First Card</h2>
      <p class="text-base">Wow! Such an interesting card!<br>Wanna hover over it?</p>
      <div class="shadow"></div>
      <div class="backdrop"></div>
    </div>

    <div class="flex flex-col items-center justify-center h-80 w-80 relative rounded-2xl card">
      <div class="border"></div>
      <div class="filter"></div>
      <h2 class="text-3xl">Second Card</h2>
      <p class="text-base">WOW! Another card.<br>Even better than the last one.</p>
      <div class="shadow"></div>
      <div class="backdrop"></div>
    </div>

    <div class="flex flex-col items-center justify-center h-80 w-80 relative rounded-2xl card">
      <div class="border"></div>
      <div class="filter"></div>
      <h2 class="text-3xl">Third Card</h2>
      <p class="text-base">Hehe... Yet another one.<br>Can't get enough of 'em.</p>
      <div class="shadow"></div>
      <div class="backdrop"></div>
    </div>
 </div>
  
 <div class="flex items-center justify-center gap-12">
   <div class="flex flex-col items-center justify-center h-80 w-80 relative rounded-2xl card">
     <div class="border"></div>
     <div class="filter"></div>
    <h2 class="text-3xl">Fourth...</h2>
    <p class="text-base">Seriously though.<br>Three would've been enough.</p>
     <div class="shadow"></div>
     <div class="backdrop"></div>
  </div>
  
  <div class="flex flex-col items-center justify-center h-80 w-80 relative rounded-2xl card">
    <div class="border"></div>
    <div class="filter"></div>
    <h2 class="text-3xl">The Fifth</h2>
    <p class="text-base">Okay, this is getting out of hand.<br>But hover over this one too, I guess.</p>
    <div class="shadow"></div>
    <div class="backdrop"></div>
  </div>
  
  <div class="flex flex-col items-center justify-center h-80 w-80 relative rounded-2xl card">
    <div class="border"></div>
    <div class="filter"></div>
    <h2 class="text-3xl">Last One.</h2>
    <p class="text-base">Phew! Finally. The very last card.<br>Well, hope this has been fun...</p>
    <div class="shadow"></div>
    <div class="backdrop"></div>
  </div>
 </div>
</div>

<div class="button card">
  <div class="border"></div>
    <div class="filter2"></div>
    <a href="https://dribbble.com/shots/21258560-Daily-Design-Code-4-Grainy-Gradient-Card-Button" target="_blank">View Design</a>
    <div class="shadow"></div>
    <div class="backdrop2"></div>
</div>

<div class="circle one"></div>
<div class="circle two"></div>

<svg>
  <filter id='noiseFilter'>
    <feTurbulence 
      type='fractalNoise' 
      baseFrequency='0.6' 
      stitchTiles='stitch'/>
  </filter>
</svg>

<svg>
  <filter id='noiseFilter2'>
    <feTurbulence 
      type='fractalNoise' 
      baseFrequency='0.6' 
      stitchTiles='stitch'/>
  </filter>
  <clipPath id="rounded-clip">
        <rect x="0" y="0" width="300" height="300" rx="20" ry="20"/>
  </clipPath>
</svg>

<svg>
  <filter id='noiseFilter3'>
    <feTurbulence 
      type='fractalNoise' 
      baseFrequency='0.6' 
      stitchTiles='stitch'/>
  </filter>
  <clipPath id="rounded-clip2">
        <rect x="0" y="0" width="230" height="70" rx="20" ry="20"/>
  </clipPath>
</svg>
