:root {
    --bg: #080B12;
    --text: #CFB3E6;
    --border-grd1: #6C6499;
    --border-grd2: #111222;
    --card-grd1: #1F193D;
    --card-grd2: #05060D;
    --radial-center: rgba(173,155,255,0.3);
    --radial-edge: rgba(11,12,22,0.3);
    --shadow: rgba(173,155,255,0.5);
  }
  
  
  body {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    
    background-color: var(--bg);
    
    margin: 1em;
    box-sizing: border-box;
    
    color: var(--text);
    transition: all ease 0.3s;
  }
  
  
  
  body::before,
  body::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 10%;
  }
  
  body::before {
    background: #0C101B;
    filter: url(#noiseFilter);
  }
 
  .card {
    background: linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    transition: all ease 0.3s;
    filter: drop-shadow(0px 0px 0px rgb(173,155,255,0));
    z-index: 1;
  }
  
  .card > p {
    text-align: center;
  }
  
  .border {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 20px;
    border: 1px solid transparent;
    background: linear-gradient(135deg,var(--border-grd1),var(--border-grd2)) border-box;
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }
  
  .filter {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 2;
    background: #000;
    filter: url(#noiseFilter2);
    opacity: 16%;
    clip-path: url(#rounded-clip);
    mix-blend-mode: hard-light;
    transition: all ease 0.3s;
  }
  
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: -2;
    border-radius: 20px;
    opacity: 30%;
    transition: all ease 0.3s;
  }
  
  .shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px rgb(173,155,255,0);
    transition: all ease 0.3s;
  }
  
  
  /* Hover */
  
  .card:hover > .backdrop {
    width: 340px;
    height: 340px;
    background: radial-gradient(circle at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: -2;
    border-radius: 33px;
    opacity: 30%;
    transition: all ease 0.3s;
  }
  
  .card:hover {
    background: radial-gradient(50% 90% at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: 3;
    transition: all ease 0.3s;
  }
  
  .card:hover > .filter {
    opacity: 22%;
    transition: all ease 0.3s;
    mix-blend-mode: hard-light;
  }
  
  .card:hover > .shadow {
    box-shadow: 0px 4px 80px 10px rgb(173,155,255,0.4);
    z-index: 1;
    transition: all ease 0.3s;
  }
  
  
  /* Screen */
  
  @media only screen and (max-width: 900px) {
    .row {
      flex-direction: column;
    }
  }
  
  
  /* Background effects */
  
  .circle {
    height: 150px;
    width: 150px;
    position: absolute;
    background-color: #AD9BFF;
    filter: blur(150px);
    border-radius: 100px;
  }
  
  .one {
    left: 0;
    top: 0;
  }
  
  .two {
    bottom: 0;
    right: 0;
  }
  
  
  
  
  /* Button */
  
  .button {
    height: 70px !important;
    width: 230px !important;
    
    
  }
  
  .filter2 {
    position: absolute;
  
    width: 230px;
    height: 70px;
    z-index: 2;
    background: #000;
    filter: url(#noiseFilter3);
    opacity: 16%;
    clip-path: url(#rounded-clip2);
    mix-blend-mode: hard-light;
    transition: all ease 0.3s;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    height: 70px;
    align-items: center;
    display: flex;
    z-index: 5;
  }
  
  .backdrop2 {
    position: absolute;
    width: 230px;
    height: 70px;
    background: radial-gradient(circle at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: -2;
    border-radius: 20px;
    opacity: 20%;
    transition: all ease 0.3s;
  }
  
  .card:hover > .backdrop2 {
    width: 260px;
    height: 100px;
    background: radial-gradient(circle at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: -2;
    border-radius: 33px;
    opacity: 20%;
    transition: all ease 0.3s;
  }
  